main {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 2.5rem;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    opacity: 0;
    transition: opacity ease-in-out 1s;
}

h1 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
}

.flex-container {
    display: flex;
    padding: 1.5rem 2.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item {
    max-width: 100%;
    height: auto;
    margin: 0.625rem;
}

.item-img {
    flex-basis: 40%;
    min-width: 18.75rem;
    max-width: 30%;
    margin: 1.25rem;
}

.item-text {
    flex-basis: 40%;
    min-width: 18.75rem;
    max-width: 30%;
    margin: 1.25rem;
    text-align: left;
}